last-page{
  .canvas-container{
    position: relative;
    width: 100%;
    padding-top: 856 / 1800 * 100%;
    > .bg{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      height: 100%;
      display: block;
    }
  }
  .go-hupubbs{
    position: absolute;
    top: 703 / 962 * 100%;
    left: 50%;
    transform: translate(-50%);
    height: 120 / 962 * 100%;
  }
}