last-page{
  .canvas-container{
    position: relative;
    width: 100%;
    padding-top: 856 / 1800 * 100%;
    > .bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  .go-hupubbs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}