@function r($rem) {
    @return $rem / 1800 * 3.2 * 1rem;
  }
game-ctrl{
    .ctrl-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
      }
      .ctrl-click{
        z-index: 10;
        position: fixed;
        // top: 50%;
        bottom: 20%;
    
        width: 150 / 1800 * 100%;
        
        // border: r(50) solid rgba(#fcfaf7, .7);
        border-radius: 100%;
        background-color: rgba($color: #fcfaf7, $alpha: 1);
        background-position: center center;
        background-repeat: no-repeat;
        // opacity: .5;
        // background-color: rgba($color: #000, $alpha: .9);
        background-size: 100% 100%;
        background-clip: content-box;
        &:after{
          content: '';
          display: block;
          padding-top: 100%;
        }
      }
      .left-ctrl{
        left: r(90);
      }
      .right-ctrl{
        right: r(90);
        // left: r(190);
      }
}